/* 
Yes, most of the CSS was written by ChatGPT since I'm not proficient in CSS.💀
*/

body {
  background: url("/static/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
  font-family: 'Courier New';
  border: 1px solid red; 
  border-radius: 5px;
  margin: 10px 0;
  width: 90%;
  font-size: 30px;
  border-color: red;
  color: white;
  transition: border-color 0.5s ease, color 0.5s ease
}


button:hover {
  cursor: pointer;
  border-color: white;
  color: red;
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

h1 {
  font-family: 'Courier New';
  font-size: 300%;
  color: white;
}