<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zoro to MyAnimeList (By Zai)</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="center">
    <button onclick="window.location.href='/tokenmanager'">Token Manager</button>
    <button onclick="window.location.href='/zorotomal'">Zoro To MyAnimeList</button>
    <button onclick="window.location.href='/instructions'">Instructions</button>
  </div>
</body>

</html>
